:root{
    --main-primary-color:rgb(220, 20, 60);
    --main-white-color:rgb(255, 255, 255);
    --main-black-color:rgb(0, 0, 0);
}
.introduction {
    display: flex;
    height: 100vh;
    background-color: var(--main-white-color);
    color: var(--main-black-color);
    .left {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        .wrapper {
            padding: 50px;
            height: 50%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .hello {
                font-size: 30px;
                font-weight: 300;
            }
            .full-name {
                font-size: 60px;
                font-weight: 600;
            }
            .job-title {
                height: 50px;
                overflow: hidden;
                .title-wrapper {
                    height: 100%;
                    animation: move-up 10s ease-in-out infinite alternate;

                    @keyframes move-up {
                        0% {
                            transform: translateY(0);
                        }
                        25% {
                            transform: translateY(-50px);
                        }
                        50% {
                            transform: translateY(-100px);
                        }
                        75% {
                            transform: translateY(-150px);
                        }
                        100% {
                            transform: translateY(-200px);
                        }
                    }

                    .title-item {
                        height: 50px;
                        font-size: 30px;
                        font-weight: bold;
                        color: var(--main-primary-color);
                        display: flex;
                        align-items: center;
                    }
                }
            }
            .job-description {
                text-align: justify;
            }
        }
        .scroll-down{
            background-color: var(--main-primary-color);
            width: 30px;
            height: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 10px;
            overflow: hidden;
            position: absolute;
            bottom: 10px;
            .icon{
                font-size: 20px;
                animation: move-down 0.8s linear infinite alternate;
                color: var(--main-white-color);

                @keyframes move-down {
                    0%{
                        transform: translateY(0);
                    }
                    100%{
                        transform: translateY(5px);
                    }


                    
                }
            }
        }
    }
    .right {
        flex: 1;
        position: relative;
        .profile{
            width: 100%;
            height: 100%;
            object-fit: contain;
            position: absolute;
            top: 0;
            right: 100px;
            -webkit-user-drag: none;
            user-select: none;
        }
        .background{
            background-color: var(--main-primary-color);
            width: 100%;
            height: 100%;
            position: absolute;
            clip-path: polygon(100% 0%, 100% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
            user-select: none;
            
        }

    }
}
