.app.dark{
    input{
        background-color: transparent;
        color: white;
        &::placeholder{
            color: rgba(255, 255, 255, 0.5);
        }
        border-bottom: 1px solid rgba(255, 255, 255, 0.5) !important;
        &:focus{
            border-bottom-color: crimson !important;
        }
    }
    textarea{
        background-color: transparent;
        color: white;
        border: 1px dashed rgba(255, 255, 255, 0.5) !important;
        &:focus{
            border-color: crimson !important;
        }
        
    }
    .toggle{
        background-color: black;
        color: white;
        border: 1px solid rgba(255, 255, 255, 0.5);
        left: 10px;
        top: 10px;
        .button{
            background-color: rgba(255, 255, 255, 0.5);
            scale: 1;
        }
    }
    .introduction{
        background-color: black;
        color: white;
    }

    background-color: black;
    color: white;
    .projects{
        .project{
            .tab{
                .circle{
                    background-color: black;
                }
            }
        }
    }
}