@font-face {
    font-family: quicksand-light;
    src: url("../Assets/fonts/quicksand/Quicksand-Light.ttf");
}
@font-face {
    font-family: quicksand-regular;
    src: url("../Assets/fonts/quicksand/Quicksand-Regular.ttf");
}
@font-face {
    font-family: quicksand-medium;
    src: url("../Assets/fonts/quicksand/Quicksand-Medium.ttf");
}
@font-face {
    font-family: quicksand-semibold;
    src: url("../Assets/fonts/quicksand/Quicksand-SemiBold.ttf");
}
@font-face {
    font-family: quicksand-bold;
    src: url("../Assets/fonts/quicksand/Quicksand-Bold.ttf");
}


*, body{
    font-family:quicksand-regular;
}
input,input::placeholder{
    font-family:quicksand-regular;
}