@media screen and (max-width: 768px) {
    .introduction {
        flex-direction: column;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        .left {
            .wrapper {
                height: 100vh;
                text-align: center;
                display: flex;
                justify-content: space-evenly;
                .hello {
                    font-size: 20px;
                    text-align: left;
                }
                .full-name {
                    font-size: 50px;
                }
                .job-title {
                    .title-wrapper {
                        .title-item {
                            justify-content: center;
                        }
                    }
                }
                .job-description {
                    text-align: center;
                }
            }
        }
        .right {
            display: none;
        }
    }

    .about {
        display: flex;
        flex-direction: column;
        margin: 50px 0px;
        margin-bottom: 40vh;
        .left {
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            height: 100%;

            .card.background {
                display: none;
            }
            .card {
                margin-top: 10px;
                width: 100%;
                height: 60vh;
                border-radius: 35px;
                position: relative;
                border: 4px dashed crimson;
            }
        }
        .right {
            width: 80%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            position: relative;
            text-align: justify;
            .title {
                margin-top: 20px;
            }
        }
    }

    .projects {
        .information {
            width: 100%;
            .title {
                font-size: 20px;
            }
            .description {
                display: none;
            }
        }
    }
    .contact{
        height: 100%;
        .wrapper{
            flex-direction: column;
            .left{
                text-align: left;
                .info{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                }
            }
            .right{    
                .description{
                }
                .response{
                }
                form{
                    width: 100%;
                }
            }
        }
    }
}
