:root{
    --main-primary-color:rgb(220, 20, 60);
    --main-white-color:rgb(255, 255, 255);
    --main-black-color:rgb(0, 0, 0);
}

.about{
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    .left{
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        height: 100%;

        .card.background{
            position: absolute;
            background-color: var(--main-primary-color);
            top: 50px;
            left: 50px;
        }
        .card{
            width: 60%;
            height: 70vh;
            border-radius: 30px;
            position: absolute;
            overflow: hidden;
            .picture{
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
                -webkit-user-drag: none;
                user-select: none;
            }

        }
        
    }
    .right{
        flex: 1;
        .title{
            font-weight: 400;
        }
        .sub-title{
            margin: 20px 0px;


        }
        .description{
            font-weight: 300;

        }
        .contact-me{
            width: max-content;
            padding: 10px;
            margin-top: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid var(--main-primary-color);
            color: var(--main-primary-color);
            border-radius: 10px;
            transition: 0.5s;
            font-weight: bold;
            a{
                text-decoration: none;
                cursor: unset;
            }
            &:hover{
                background-color: var(--main-primary-color);
                color: var(--main-white-color);
                cursor: pointer;
            }
        }
    }
}